body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.banner img {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: block;
  border: none;
}

.explorar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: white;
  position: relative;
}

.explorar-texto {
  background-color: #3b5c2f;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 22px;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translateY(-50%);
}

.explorar img {
  width: 50%;
  border-radius: 50px 0 0 50px;
  display: block;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-inline: 20%;
  margin-block: 40px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.enviar {
  margin-top: 15px;
  padding: 10px;
  background-color: #3b5c2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
