body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.banner img {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: block;
  border: none;
}

.explorar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: white;
  position: relative;
}

.lojas {
  text-align: center;
  margin: 50px 0 white;
  background-color: white;
}

h2 {
  font-size: 34px;
}

.grid-lojas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

.loja {
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-inline: 60px;
}
