body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: none;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1000;

}
.botoesMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
}
.conteudo-banner {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}

.logo-tijucas {
  width: 180px;
  margin-bottom: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.botao-explorar {
  background-color: #3b5323;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.logo img {
  height: 60px;
  border-radius: 20px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
.trio{
  width: 33%;
}
.trio .divBotaoEntrar{
  display: flex;
  justify-content: end;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.btn-entrar {
  background-color: #3b5c2f;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  right: 0;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;  
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  max-height: 100vh; 
}
.destaque {
  border-bottom: solid #3b5c2f 3px;
}
h2{
  color: white;
  font-size: 25px;
}
